<ion-app>

  <ion-header>

    <ion-toolbar>
      <ion-title>ABELIA: RedLife</ion-title>
      <ion-button fill="outlined" icon-only (click)=openFirst()>
        <ion-icon name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>

  </ion-header>

  <ion-content>

    <ion-button  class="centro" shape="round" size="large" routerLink='/cerrarsesion'>Cerrar Sesión</ion-button>

  </ion-content>

  <ion-menu side="start" menu-id="MenuPrincipal" content-id="main">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink='informacion-ficha-medica'><ion-icon name="information-circle-outline" (click)=openEnd()></ion-icon>Información Ficha Médica</ion-item>
        <ion-item routerLink='ficha-medica'><ion-icon name="medkit-outline" (click)=openEnd()></ion-icon>Ficha Médica</ion-item>
        <ion-item routerLink='ficha-medica-enfermedades'><ion-icon name="archive-outline" (click)=openEnd()></ion-icon>Historial Clínico</ion-item>
        <ion-item routerLink='generarapodo'><ion-icon name="person-circle-outline" (click)=openEnd()></ion-icon>Cambiar Apodo</ion-item>
        <ion-item routerLink='recuperacioncontrasena'><ion-icon name="people-outline" (click)=openEnd()></ion-icon>Cambiar Contraseña</ion-item>
        <ion-item routerLink='cerrarsesion'><ion-icon name="person-remove-outline" (click)=openEnd()></ion-icon>Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>

</ion-app>