<ion-app>

  <ion-header>

    <ion-toolbar>
      <ion-title>ABELIA: RedLife</ion-title>
      <ion-button fill="outlined" icon-only (click)=openFirst()>
        <ion-icon name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-text id=apodo color="secondary">
      <h1>¡Hola {{usuario.user}}!</h1>
    </ion-text>
    
    <ion-button  (click)=token() class="centro" shape="round" size="large" >Cerrar Sesión</ion-button>
    <ion-button  (click)=holausuario() class="centro" shape="round" size="large" >hola</ion-button>
  </ion-content>

  <ion-menu side="start" menu-id="MenuPrincipal" content-id="main"></ion-menu>

</ion-app>