<ion-header>
  <ion-toolbar>
    <ion-title>Ficha Medica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input value="Ficha Medica:" readonly></ion-input>
  </ion-item>

  <ion-input value="Por Favor, Lea detalladamente y complete a Consciencia" readonly></ion-input>

  <ion-input [(ngModel)]='nombrecompleto' type='string' placeholder="Nombre Completo (obligatorio)*"></ion-input>

  <ion-input [(ngModel)]='altura' type='number' placeholder="Altura en Centimetros (obligatorio)*"></ion-input>

  <ion-input [(ngModel)]='peso' type='number' placeholder="Peso en Kilos (obligatorio)*"></ion-input>

  <ion-input [(ngModel)]='dni' type='number' placeholder="DNI o Numero de Libreta de Identificacion"></ion-input>

  <ion-input [(ngModel)]='fechadenacimiento' type='string' placeholder="Fecha de Nacimiento (obligatorio)*"></ion-input>

  <ion-input [(ngModel)]='sexo' type='string' placeholder="Sexo (obligatorio)*"></ion-input>

  <ion-input [(ngModel)]='obrasocial' type='string' placeholder="Obra Social"></ion-input>

  <ion-input [(ngModel)]='numerodeafiliado' type='number' placeholder="Numero de Afiliado (en caso de que haya)"></ion-input>

  <ion-input [(ngModel)]='gruposanguineo' type='string' placeholder="Grupo Sanguineo"></ion-input>

  <ion-input [(ngModel)]='direccionderesidencia' type='string' placeholder="Direccion Actual de Residencia (obligatorio)*"></ion-input>

  <ion-input [(ngModel)]='pisoydepartamento' type='string' placeholder="Piso y Departamento (opcional)"></ion-input>

  <ion-input [(ngModel)]='localidadderesidencia' type='string' placeholder="Localidad de Residencia"></ion-input>

  <ion-input [(ngModel)]='provinciaderesidencia' type='string' placeholder="Provincia de Residencia"></ion-input>

  <ion-input [(ngModel)]='numerodecontactodeemergencia' type='number' placeholder="Numero de Contacto de Emergencia (obligatorio)*"></ion-input>

  <ion-input [(ngModel)]='nombrecompletodelmedico' type='string' placeholder="Nombre Completo de Medico de Cabecera"></ion-input>

  <ion-input [(ngModel)]='numerodelmedico' type='number' placeholder="Numero de Contacto de Medico de Cabecera"></ion-input>

  <ion-input value="*Los campos obligatorios son para brindar la informacion" readonly></ion-input>

  <ion-input value="necesaria en caso de Emergencia.*" readonly></ion-input>

  <ion-button routerLink='/instrucciones-ficha-medica'>Atras</ion-button>
  <ion-button routerLink='/ficha-medica-enfermedades'>Continuar!</ion-button>

</ion-content>
