<ion-header>
  <ion-toolbar>
    <ion-title>Ficha Medica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Ficha Medica:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-input value="Por Favor, Lea detalladamente y complete a Consciencia" readonly></ion-input>

  <ion-input placeholder="Nombre Completo (obligatorio)"></ion-input>

  <ion-input placeholder="Altura en Metros (obligatorio)"></ion-input>

  <ion-input placeholder="Peso en Kilos (obligatorio)"></ion-input>

  <ion-input placeholder="DNI o Numero de Libreta de Identificacion"></ion-input>

  <ion-input placeholder="Fecha de Nacimiento (obligatorio)"></ion-input>

  <ion-input placeholder="Sexo(obligatorio)"></ion-input>

  <ion-input placeholder="Direccion Actual de Residencia"></ion-input>

  <ion-input placeholder="Numero de Contacto de Emergencia (obligatorio)"></ion-input>

  <ion-input placeholder="Nombre Completo de Medico de Cabecera"></ion-input>

  <ion-input placeholder="Numero de Contacto de Medico de Cabecera"></ion-input>

  <ion-input placeholder="Enter Input"></ion-input>

  <ion-input value="Los campos obligatorios son para brindar la informacion necesaria en caso de Emergencia." readonly></ion-input>

</ion-content>
