.texto{
    color: #0000FF;
    margin-left: 5px;
    
}

.centrado{
    margin-left: 5px;
}

.textoP{
    font-size: small;
    text-align: justify;
}

.textoL{
    font-size: large;
    margin-left: 5px;
    margin-right: 10px;
}

.centro{
    margin-left: 130px;
}