<ion-header>
  <ion-toolbar>
    <ion-title>Informacion Ficha Medica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text><h1>Para completar los datos que apareceran a continuacion, necesitamos que sean precisos. Si puede, complete la ficha medica junto a su medico de cabecera.</h1></ion-text>

  <ion-button routerLink='/ficha-medica'>¡Continuar!</ion-button>
  <ion-button routerLink='/generarapodo'>Saltearse este paso</ion-button>

  <ion-text><h1>Es muy importante ser lo mas detallado posible, debido a que la informacion que nos brinde sera la que nos haga detectar un inconveniente en su bienestar. Ademas de que sera la informacion que se le brindara a la prestadora y a su contacto de emergencioa en caso de que esta ocurriese.</h1></ion-text>

</ion-content>
