<ion-header>
  <ion-toolbar>
    <ion-title>Información Ficha Médica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text><h1 class='textocentrado' >A continuación, se le van a presentar dos páginas. La primera es la página de la Ficha Médica, donde es necesario que complete los datos a conciencia ya que en caso de emergencia, estos seran utilizados para acudir lo mas rápido y efectivamente posble al problema. Luego, la segunda página se trata sobre la página de Historial Clínico, que sera utilizado en caso de que se tenga que acudir a un hospital proporcionandole información al médico sobre posibles problemas de salud.</h1></ion-text>

  <ion-button class='centro' routerLink='/ficha-medica'>¡Continuar!</ion-button>
  <ion-button routerLink='/generarapodo'>Saltearse este paso</ion-button>

  <ion-text><h1 class='textocentrado' >NOTA: Es muy importante ser lo mas detallado posible, debido a que la información que nos brinde será la que nos haga detectar un inconveniente en su bienestar. Además de que sera la información que se le brindará a la prestadora y a su contacto de emergenciaS en caso de que esta ocurriese.</h1></ion-text>

</ion-content>
