<ion-header>
  <ion-toolbar>
    <ion-title>Informacion Ficha Medica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text><h1>A continuacion, se le van a presentar dos paginas. La primera es la pagina de la Ficha Medica, donde es necesario que complete los datos a conciencia ya que en caso de emergencia, estos seran utilizados para acudir lo mas rapido y efectivamente posble al problema. Luego, la segunda pagina se trata sobre la pagina de Historial Clinico, que sera utilizado en caso de que tenga que acudir a un hospital proporcionandole informacion al medico sobre posibles problemas de salud.</h1></ion-text>

  <ion-button routerLink='/ficha-medica'>¡Continuar!</ion-button>
  <ion-button routerLink='/generarapodo'>Saltearse este paso</ion-button>

  <ion-text><h1>Es muy importante ser lo mas detallado posible, debido a que la informacion que nos brinde sera la que nos haga detectar un inconveniente en su bienestar. Ademas de que sera la informacion que se le brindara a la prestadora y a su contacto de emergencioa en caso de que esta ocurriese.</h1></ion-text>

</ion-content>
