.centro{
    margin-top: 25px;
    margin-left: 80px;
}

.margen{
    margin-left: 80px;
}

.centrado{
    margin-top: 100px;
    margin-left: 110px;
}

.derecha{
    margin-left: 260px;
}

.posicioningresar{
    margin-left: 145px;
}

.separador{
    margin-top: 10px;
}