
<ion-app>
  {{ message | async | json }}
  <ion-router-outlet></ion-router-outlet>


  <ion-menu side="start" menu-id="first" content-id="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink='informacion-ficha-medica'>Información Ficha Médica</ion-item>
        <ion-item routerLink='ficha-medica'>Ficha Médica</ion-item>
        <ion-item routerLink='ficha-medica-enfermedades'>Historial Clínico</ion-item>
        <ion-item routerLink='generarapodo'>Cambiar Apodo</ion-item>
        <ion-item routerLink='recuperacioncontrasena'>Cambiar Contraseña</ion-item>
        <ion-item routerLink='cerrarsesion'>Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id='main'></ion-router-outlet>
</ion-app>
