<ion-header>
  <ion-toolbar>
    <ion-title>About: Funcionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text><h1 class='textocentrado' >Abelia y RedLife son un dispositivo y una aplicación que funcionan en conjunto para poder proporcionar mayor seguridad a nuestros seres queridos. Abelia es la pulsera que cuenta con los sensores para medir los parámetros de riesgo y, en caso de que estos sean extremos o fuera de lo normal, el dispositivo daría la orden de que se envié la alerta. Y acá es donde la aplicación y la pulsera funcionan en conjunto. RedLife es la aplicación desde donde va a poder controlar y ver los parámetros sensados por el dispositivo. En esta aplicación es donde se van a guardar todos sus datos personales para que en caso de emergencia estos sean utilizados. En caso de que la pulsera haya detectado parámetros anormales y usted considere que se trata de una falsa alarma, esta cuenta con un botón para la cancelación de la alerta.</h1></ion-text>

  <div>
    <ion-button class='centro'  routerLink='/instrucciones-ficha-medica'>¡Continuar!</ion-button>
  </div>

</ion-content>

