<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion o Registrarse:</ion-title>
    <ion-button fill="outlined" icon-only routerLink='/home'>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button  class="centro" shape="round" size="large" routerLink='/login'>Iniciar Sesion!</ion-button>
  </div>

  <div>
    <ion-button fill="outline"  class="top-25" shape="round"  routerLink='/register'>¿No tiene una cuenta? ¡Registrese aquí!</ion-button>
  </div>
</ion-content>

