<ion-header>
  <ion-toolbar>
    <ion-title>Historial Clínico</ion-title>
    <ion-button fill="outlined" icon-only routerLink='/ficha-medica'>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-buttons slot='end'>
      <ion-button fill="outlined" icon-only routerLink='/pagina-inicial'>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-text><h1 class='texto'>Procesos Quirurgicos:</h1></ion-text>
  <ion-input class='centrado' [(ngModel)]='fichamedica.operaciones' type='string' placeholder='Ej: Cirugías por salud, Cirugías esteticas, etc.'></ion-input>
  
  <ion-text><h1 class='texto'>Enfermedades o Padecimeintos importantes:</h1></ion-text>
  <ion-input class='centrado' [(ngModel)]='fichamedica.enfermedadesviejas' type='string' placeholder='Ej: broncoespamos, colesterol, etc.'></ion-input>
  
  <ion-text><h1 class='texto'>Medicamentos:</h1></ion-text>
  <ion-input class='centrado' [(ngModel)]='fichamedica.medicamentosviejos' type='string' placeholder='Ej: medicamento X'></ion-input>
  
  <ion-text><h1 class='texto'>Vacúnas:</h1></ion-text>
  <ion-input class='centrado' [(ngModel)]='fichamedica.vacunasdadas' type='string' placeholder='Ej: antitetánica, covid-19, etc.'></ion-input>
  
  
  <ion-button size='large' class='centro' (click)='anadirdatosfichamedicaenfermedades()' (click)='presentAlert()'>¡Continuar!</ion-button>

</ion-content>
